
<div class="container-fluid bg-dark pt-3 pb-1">
    @if (!Initialised)
    {
        <div class="space-y-12 px-4 py-2">
            <div class="flex flex-row">
                <div class="space-y-2 grow animate-pulse">
                    <h1 class="w-80 rounded bg-gray-200">@Workout.DayNumber - @Workout.Name</h1>
                    <p class="text-caption text-subtext w-40 rounded bg-gray-200">{totalExercises}</p>
                </div>
                <h3>
                    <WorkoutEditView OnWorkoutChange="(()=>OnWorkoutChanged())" Workout=Workout></WorkoutEditView>
                </h3>

            </div>
            <div class="flex flex-col space-y-2">
                <h3 class="w-80 rounded bg-gray-200">
                </h3>
                <div class="flex flex-row space-x-2 justify-center animate-pulse">
                        <span class="w-2 bg-secondary"></span>
                        <span class="my-auto w-12 h-12 bg-(--color-text-muted)"></span>
                    <div class="flex flex-col space-y-2">
                            <subtitle>Exercise Name</subtitle>
                            <p class="text-caption text-subtext">Nombre de set</p>
                        </div>
                    </div>
                <div class="flex flex-row space-x-2 justify-center animate-pulse">
                        <span class="w-2 bg-secondary"></span>
                        <span class="my-auto w-12 h-12 bg-(--color-text-muted)"></span>
                    <div class="flex flex-col space-y-2">
                            <subtitle>Exercise Name</subtitle>
                            <p class="text-caption text-subtext">Nombre de set</p>
                        </div>
                    </div>
                <div class="flex flex-row space-x-2 justify-center animate-pulse">
                        <span class="w-2 bg-secondary"></span>
                        <span class="my-auto w-12 h-12 bg-(--color-text-muted)"></span>
                    <div class="flex flex-col space-y-2">
                            <subtitle>Exercise Name</subtitle>
                            <p class="text-caption text-subtext">Nombre de set</p>
                        </div>
                    </div>
            </div>
            <div class="flex flex-col space-y-2">
                <h3 class="w-80 rounded bg-gray-200">
                </h3>
                <div class="flex flex-row space-x-2 justify-center animate-pulse">
                        <span class="w-2 bg-secondary"></span>
                        <span class="my-auto w-12 h-12 bg-(--color-text-muted)"></span>
                        <div class="flex flex-col space-y-2">
                            <subtitle>Exercise Name</subtitle>
                            <p class="text-caption text-subtext">Nombre de set</p>
                        </div>
                    </div>
            </div>
        </div>
    }
    else
    {
        <div class="space-y-12 px-4 py-2">
            <div class="flex flex-row">
                <div class="space-y-2 grow">
                    <h1>@Workout.DayNumber - @Workout.Name</h1>
                    <p class="text-caption text-subtext">{totalExercises}</p>
                </div>
                <h3>
                    <WorkoutEditView OnWorkoutChange="(()=>OnWorkoutChanged())" Workout=Workout></WorkoutEditView>
                </h3>

            </div>
            @foreach (var section in Workout.Sections)
            {
                <div class="flex flex-col space-y-2 border-(--color-primary) border-b-4">
                    <h3>
                        @(section.Section.ToString())
                    </h3>
                    @foreach (var exercise in section.Exercises)
                    {
                        <div class="flex flex-row space-x-2 justify-center">
                            <span class="w-2 bg-secondary"></span>
                            <span class="my-auto w-12 h-12 bg-(--color-text-muted)"></span>
                            <div class="flex flex-col space-y-2">
                                <subtitle>Exercise Name</subtitle>
                                <p class="text-caption text-subtext">Nombre de set</p>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>