@using WorkoutPlanner.DataObject
@using WorkoutPlanner.Components.Pages.Workout.Plan.WorkoutBuilder;

@if (!Initialised)
{
    <div class="flex items-center justify-around animate-pulse mt-2">
        <div class="h-2 w-40 rounded bg-gray-200"></div>
        <div class="h-2 w-40 rounded bg-gray-200"></div>
        <div class="h-2 w-8 rounded bg-gray-200"></div>
    </div>
}
else
{
    <div class="flex justify-around text-text-muted space-x-4">
        <a class="@(!IsWorkoutOverview ? "text-text border-b-2 border-(--color-text)" : "") grow text-center"
           @onclick="(() => OnNavClicked(false))">Vue d'ensemble</a>
        <a class="@(IsWorkoutOverview ? "text-text border-b-2 border-(--color-text)" : "") grow text-center"
           @onclick="(() => OnNavClicked(true))">Détail</a>
    </div>
    <MudSwipeArea OnSwipeEnd="@OnSwipeEnd" Class="w-full grow">
        <div class="@(IsWorkoutOverview ? "hidden" : "")">
            @foreach (var phase in Program.Phases)
            {
                <div class="px-2 py-4 @((Phase.Id == phase.Id) ? "bg-secondary" : "") flex flex-row items-end space-x-2"
                     @onclick="(()=>SelectPhase(phase))">
                    <h3>@phase.Name</h3>
                    <p class="text-text-muted">@phase.Cycle cycle(s)</p>
                    <div class="grow" />
                    <PhaseEditView Program=Program Phase=phase OnPhaseChange="(() => OnPhaseChanged())"></PhaseEditView>
                </div>


                <WorkoutListView Phase=phase OnWorkoutChange="(() => OnPhaseChanged())"
                                 OnWorkoutSelected="((workout) => OnWorkoutSelected(workout))"></WorkoutListView>
            }
            <div class="px-2 py-4 flex flex-row">
                <PhaseEditView Program=Program OnPhaseChange="(() => OnPhaseChanged())"></PhaseEditView>
            </div>
        </div>
        <div class="@(!IsWorkoutOverview ? "hidden" : "")">
            <WorkoutOverviewView OnWorkoutChange="(() => OnPhaseChanged())" Workout="Workout"></WorkoutOverviewView>
        </div>
    </MudSwipeArea>
}