@if (!Initialised)
{
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
        Add a program
    </button>
}
else
{
    @if (IsEdit)
    {
        <button @onclick="@ToggleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-three-dots fill-(--color-text)" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
            </svg>
        </button>
    }
    else
    {
        <button @onclick="@ToggleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
            </svg>
            Ajouter un programme
        </button>
    }

    <EditModal @ref="ModalPlan" Model="@Program">
        <div class="flex flex-col py-2 space-y-2">
            <InputText @bind-Value=Program.Name id="name" class="bg-surface rounded-sm border border-(--color-subtext) px-2 text-title mx-2 text-center" />
        </div>
        <div class="flex flex-col py-2 space-y-2">
            <label for="goal" class="text-subtitle">Objectif</label>
            <div class="flex flex-row overflow-x-auto space-x-2">
            <InputRadioGroup @bind-Value=Program.Goal id="goal">
                @foreach (var goal in (WorkoutPlanGoal[])Enum.GetValues(typeof(WorkoutPlanGoal)))
                {
                    <label class ="@((Program.Goal==goal) ? "bg-secondary":"bg-primary") p-2 rounded-sm text-text">
                    <InputRadio Value="goal" class="hidden" />
                        <subtitle>@goal</subtitle>
                    </label>
                }
                </InputRadioGroup>
            </div>
        </div>
        <div class="flex flex-col py-2 space-y-2">
            <label for="description" class="text-subtitle">Description</label>
            <InputTextArea @bind-Value=Program.Description id="description" class="bg-surface grow rounded-sm border border-(--color-subtext) px-2 text-body mx-2  h-[50vh] min-h-22 max-h-56 resize-none" />
        </div>
    </EditModal>
}