@if (!Initialised)
{
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg mr-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
            </svg>
            Ajouter une phase
        </button>
}
else
{
    @if (IsEdit)
    {
        <button @onclick="@ToggleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-three-dots fill-(--color-text)" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
            </svg>
        </button>
    }
    else
    {
        <button @onclick="@ToggleModal" class="text-title flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg mr-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
            </svg>
            Ajouter une phase
        </button>
    }

    <EditModal @ref="ModalPhase" Model="@Phase">
        <div class="flex flex-col py-2 space-y-2">
            <InputText @bind-Value=Phase.Name id="name" class="bg-surface grow rounded-sm border border-(--color-subtext) px-2 text-body mx-2" />
        </div>
        <div class="flex flex-col py-2 space-y-2">
            <label for="cycle" class="text-subtitle">Cycle à effectuer</label>
            <InputNumber @bind-Value=Phase.Cycle id="cycle" class="bg-surface grow rounded-sm border border-(--color-subtext) px-2 text-body mx-2" />
        </div>
        <div class="flex flex-col py-2 space-y-2">
            <label for="scheduleType" class="text-subtitle">Objectif</label>
            <div class="flex flex-row overflow-x-auto space-x-2">
            <InputRadioGroup @bind-Value=Phase.ScheduleType id="scheduleType">
                @foreach (var scheduleType in (ScheduleType[])Enum.GetValues(typeof(ScheduleType)))
                {
                    <label class ="@((Phase.ScheduleType==scheduleType) ? "bg-secondary":"bg-primary") p-2 rounded-sm text-text">
                    <InputRadio Value="scheduleType" class="hidden" />
                        <subtitle>@scheduleType</subtitle>
                    </label>
                }
                </InputRadioGroup>
            </div>
        </div>
    </EditModal>
}